* {
    margin: 0;
    padding: 0;
}

.full {
    background-color: black;
}

.main {
    background-image: url(Netflix-Background.jpg);
    position: relative;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;

}

.main .box {
    /* width:80vw;*/
    height: 90vh;
    border-bottom: 1.5mm solid;
    background-color: black;
    position: absolute;
    top: 0;
    opacity: 0.5;
    width: 100%;
    border-bottom-color: rgba(255, 255, 255, 0.464);
}

nav {
    max-width: 60vw;
    margin: auto;
    height: 5vh;
    /* background-color: rgba(244, 238, 238, 0.63);*/
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px;


}

.logo {
    height: 2vh;
    position: relative;
    z-index: 10;
}

.sign {
    position: relative;
    z-index: 10;
    border-radius: 7px;
    cursor: pointer;
    width: 5vw;
    height: 5vh;
    /* padding: 8px 10px;*/
    background-color: red;
    color: white;
    font-family: sans-serif;
    border: rgba(255, 255, 255, 0.486);
    border-style: solid;


}

.button1 :first-child {
    position: relative;
    z-index: 10;
    border-radius: 7px;
    cursor: pointer;
    width: 9vw;
    height: 5vh;
    /* padding: 8px 10px;*/
    font-family: sans-serif;
    border: rgba(255, 255, 255, 0.486);
    ;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    border-style: solid
}

.content {
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.content> :first-child {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
    position: relative;
    bottom: 40px;
    left: 40px;
    text-align: center;
}

.span2 {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
    position: relative;
    bottom: 40px;
    left: 40px;
    text-align: center;
}

.span3 {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
    position: relative;
    bottom: 40px;
    left: 40px;
    text-align: center;
}

.button2 {
    background-color: red;
    padding: 25px 35px;

    color: white;
    font-family: sans-serif;
    border-radius: 9px;
    border: rgba(255, 255, 255, 0.486);
    ;
    border-style: solid;
    cursor: grab;
    text-align: center;
    justify-content: center;

}

.textbutton {
    padding: 25px 100px;
    border-radius: 3px;
    cursor: pointer;
    border: rgba(255, 255, 255, 0.486);
    background-color: rgba(23, 23, 23, 0.747);
    color: white;
    position: relative;
    z-index: 10;
    border-style: solid;
}

.grayline {
    height: 10px;
    color: gray;
    position: relative;
}

.separation1 {
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    margin: auto;
    border-bottom: 1.5mm solid;
    border-bottom-color: rgba(255, 255, 255, 0.464);
    max-width:100%;
}

.img1 {
    position: relative;
}

.img1 img {
    width: 30vw;
    position: relative;
    z-index: 10;
    padding-top: 12px;
    padding-bottom: 39px;
}

.e {
    font-size: 45px;
    font-family: sans-serif;
    margin-bottom: 20px;
    font-weight:bolder;
}

.w {
        font-size: 20px;
    font-family: sans-serif;
}

.a {
    font-size: 20px;
    font-family: sans-serif;
}

.img1 video {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 30vw}

    .separation2{
        align-items: center;
        justify-content: center;
        color: white;
        display: flex;
        margin: auto;
        border-bottom: 1.5mm solid;
        border-bottom-color: rgba(255, 255, 255, 0.464);
        max-width:100%;}


.img1 img {
    width: 30vw;
    position: relative;
    z-index: 10;
    padding-top: 12px;
    padding-bottom: 39px;
}

.d {
    font-size: 45px;
    font-family: sans-serif;
    margin-bottom: 20px;
    font-weight:bolder;
}

.tt{font-size: 45px;
    font-family: sans-serif;
    margin-bottom: 20px;
    font-weight:bolder;
}

.s {
    font-size: 20px;
    font-family: sans-serif;
}

.t{ font-size: 20px;
    font-family: sans-serif;}

    .separation3 {
        align-items: center;
        justify-content: center;
        color: white;
        display: flex;
        margin: auto;
        border-bottom: 1.5mm solid;
        border-bottom-color: rgba(255, 255, 255, 0.464);
        max-width:100%;
    }
    
    .img1 {
        position: relative;
    }
    
    .img1 img {
        width: 30vw;
        position: relative;
        z-index: 10;
        padding-top: 49px;
        padding-bottom: 39px;
    }
    
    .wa {
        font-size: 45px;
        font-family: sans-serif;
        margin-bottom: 20px;
        font-weight:bolder;
    }
    
    .st {
            font-size: 20px;
        font-family: sans-serif;
    }
    
    .ph {
        font-size: 20px;
        font-family: sans-serif;
    }
    
    .img1 video {
        position: absolute;
        top: 42px;
        right: 108px;
        width: 18vw;}
